[Unit]
Description=Image Service(Zooming) With Deep Learning
Documentation=https://githubs.com/delldu/OnnxService
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/image_zoom --server 0
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=10
Restart=always
StartLimitInterval=60s
KillMode=process

[Install]
WantedBy=multi-user.target
